* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


.Nav01 {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    min-width: 1000px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Nav01plaintext {
    font-weight: bold;
    font-size: 1.2rem;

}

.Nav01Button {
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
}

.Nav01Button:hover {
    text-decoration: underline;
}

.Nav01optionlist {
    display: none;
}

.Nav01optionlistitem {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Nav01optionlistitem:hover {
    text-decoration: underline;
}

.Nav01Button:hover .Nav01optionlist {
    background-color: white;
    border: solid 1px gainsboro;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    border-radius: 5px;
}

.nav02 {
    background-color: black;
}

.nav02container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    min-width: 1000px;
    margin: auto;
}

.Nav02section01 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Nav02Button01 {
    background-color: black;
    border: none;
    cursor: pointer;
}

.ImgMenu {
    max-width: 20px;
    height: 100%;
    margin-right: 20px;
}

.RegButton {
    background-color: rgb(255, 196, 0);
    padding: 5px;
    cursor: pointer;
}

.ImgLogo {
    height: 70px;
    width: 100%;
}

.nav03  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    min-width: 1000px;
    margin: auto;
    margin-top: 10px;
    flex-shrink: 0;
}

.nav03a {
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav04 {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    min-width: 1000px;
    margin: auto;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Nav04Button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.Nav04Icon {
    width: 25px;
    height: auto;

}

.Nav04Button:hover  {
    opacity: 0.5;
}

.FooterMainBlack {
    background-color: black;
}

.FooterImg{
    height: 40px;
    width: 100%;
}

.FooterText {
    color: white;
    font-size: 1.1rem;
}

.FooterInsideBlack {
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1000px;
    justify-content: space-between;
    margin: auto;
}

.BottomFooter {
    display: flex;
    flex-direction: row;
    background-color: lightgray;    
    max-width: 1000px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
}

.FooterButton {
    border: none;
    color: gray;
    background: none;
    font-size: 1.4rem;
    padding-right: 15px;
    border-right: solid 1px gray;
}

.FooterButtonOut {
    border: none;
    color: gray;
    background: none;
    font-size: 1.4rem;
    padding-right: 15px;
}

.FooterButton:hover, .FooterButtonOut:hover  {
    text-decoration: underline;
}

