*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: 
  radial-gradient(
    farthest-side at bottom left,
    rgba(255, 0, 255, 0.5), 
    #246756
  ),
  radial-gradient(
    farthest-corner at bottom right,
    rgba(255, 50, 50, 0.5), 
    #246756 400px
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
}

body > section {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 40px;
}

.container {
  background-color: rgba(212, 212, 219, 0.267);
  padding: 15px;
  padding-top: 20px;
  margin-bottom: auto;
  position: relative;
  padding-bottom: 30px;
}

.container > a {
  font-size: 3rem;
  margin-bottom: 10px;
}

.Title {
  margin-top: 10px;
  display: -webkit-box;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 5; 
  -webkit-box-orient: vertical;
}

.mainH1{
  font-size: 4rem;
  color: white;
  padding-left: 30px;
}

.navCont {
  padding-top: 40px;
  width: 10vw;
}

.navCont > div{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  background-color: rgba(212, 212, 219, 0.267);
}

.navCont > div > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

}

.profBut{
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profImg{
  width: 80px;
  height: auto;
  border-radius: 60px;
}

.secBut{
  background: none;
  font-size: 2rem;
  color: white;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.secBut:hover {
  opacity: 0.7;
}
 
.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90vw;
  margin: auto;
  gap: 20px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.textButton {
  background: none;
  border: none;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.textButton:hover {
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.secondNav{
  position: absolute;
  right: 40px;
  top: 40px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  height: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.secondNav > span {
  background-color: rgba(212, 212, 219, 0.267);
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 70px;
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.secondNav > button {
  position: absolute;
  right: -10px;
  top: -10px;
}

.profImg02{
  width: 60px;
  height: auto;
  border-radius: 60px;
}

footer {
  margin: auto;
  border-top: 2px solid rgba(212, 212, 219, 0.267);
  width: 90vw;
  display: flex;
  flex-direction: row;
}

footer > div {
  margin-top: 20px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: end;
}

footer > div > a {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

footer > img {
  height: 90px;
  width: auto;
  margin-left: 20px;
  margin-top: 10px;
}