* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 768px) and (max-width: 1023px){

    
.MainContainer {
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-width: 768px;
    height: auto;
}   

/* Nav bar */

.MainNavContainer{
    position: relative;
    justify-content: center;
    min-width: 768px;
    width: 100%;
} 

.mobileOnly{
    display: none;
}


.MainNav {
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    height: 40px;
    position: absolute;
    bottom: 0px;
    align-items: center;
}

.NavButton {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    transition-delay: .07s;
    padding-left: 20px;
    padding-right: 20px;
}

.NavButton:hover {
    background-color: antiquewhite;
    color: brown;
}

.collectionHolder{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.NavButton:hover, .collectionText:hover {
    background-color: antiquewhite;
    color: brown;
}

.collectionHolder:hover .collectionsOption01 {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: burlywood;
    bottom: -85px;
    right: 0;
    width: 100%;
}

.collectionText{
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    transition-delay: .07s;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.collectionsOption01 {
    display: none;
}

.HomePicture {
    max-width: 80px;
    height: 100%;
    border-radius: 30px;
    background: none;
}

.NavButtonPic {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    background: none;
    border: none;
    margin-right: 40px;
    margin-left: 10px;
    cursor: pointer;
    transition-delay: .07s;
}

.NavButtonPic:hover {
    scale: 1.1;
}

.MainImageContainer {
    height: 150px;
    width: 100%;
    position: relative;
}

.MainPicture {
    object-fit: cover;
    object-position: 0 70%;
    height: 100%;
    width: 100%;
}

.searchBar {
    position: absolute;
    right: 10px;
    top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    padding: 3px;
}

.searchInput {
    font-size: 1.2rem;
    border: 1px solid black;
    height: 25px;
    padding: 0 0 0 6px;
    width: 250px;
    border: none;
    background: none;
}

.searchInput:focus {
    border: none;
    outline: none;
}

.searchButton{
    height: 30px;
    background: none;
    border: none;
}

.searchLogo {
    height: 16px;
    width: auto;
    background: none;
    padding: 0 0 0 12px;
    margin-right: 5px;
}

/* Main section */

.RecentPostSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    min-width: 728px;
    margin-top: 20px;
    gap: 10px;
    padding: 20px;
    overflow: hidden;
}

.Post { 
    max-height: 400px;
    background-color: rgba(177, 177, 177, 0.253);
    border-radius: 10px;
    position: relative;
}

.PostImgContainer {
    height: 200px;
    cursor: pointer;
}

.PostImg{
    object-fit: cover;
    object-position: 0 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.PostTextContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100px;
    max-height: 100px;
}

.PostTitle {
    font-size: 2rem;
    color: brown;
    text-decoration: none;
}

.PostTitle:hover {
    text-decoration: underline;
}

.PostDescription { 
    font-size: 1.6rem;
    color: black;   
    text-overflow: ellipsis ;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.TagContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    height: auto;
    padding: 10px;
    right: 0px;
    bottom: 0px;
}

.PostTags {
    margin-left: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: brown;
    cursor: pointer;
}

.PostTags:hover {
    text-decoration: underline;
}

.PresentationSection {
    width: 100%;
    min-width: 728px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    background-color: rgba(177, 177, 177, 0.253);
    border-radius: 20px;
}

.PresentationPic {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.PresentationPicContainer {
    padding: 15px;
}

.PresentationTextContainer {
    padding: 15px;
}

.PresentationTextTitle {
    font-size: 2.5rem;
    color: brown;
    font-weight: bold;
}

.PresentationTextTitle:hover {
    text-decoration: underline;
}

.PresentationTextDescription {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20PX;
}

.VerMasButtonContainer {
    margin: auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.VerMasButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    white-space: nowrap;
    margin-right: 10px;
}

.VerMasText {
    font-size: 2rem;
    font-weight: bold;
    color: brown;
    margin-right: 10px;
}

.FooterContainer {
    width: 100%;
    min-width: 768px;
    margin-top: 40px;
    background-color: brown;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.FooterInfo {
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-self: center;
}

.FooterInfo:hover {
    opacity: 0.8;
}

.ArrowDown {
    height: 15px;
    width: 100%;
    display: none;
}

.VerMasButton:hover .ArrowDown {
    display: inline-block;
}

.hide {
    display: none;
}

.backgroundContainer {
    display: none;
}

.recentText {
    font-size: 2.5rem;
    font-weight: bold;
    color: brown;
}

.sectionContainer {
    padding-left: 20px;
    padding-right: 20px;
}
}